{% load wagtailimages_tags wagtailcore_tags navigation_tags %}

<header class="sticky top-0 z-50 bg-base-100 shadow-md">
    <nav class="container mx-auto flex items-center justify-between px-5 py-3 min-w-[350px] sm:px-0">
        <!--LEFT NAVBAR -->
        <a href="/" class="flex items-center space-x-2 lg:pl-10">
            {% image settings.global.BrandSettings.logo max-100x100 class='rounded-full w-10 h-10 object-cover' %}
            <span class="text-lg font-bold text-primary whitespace-nowrap md:max-lg:hidden">
                {{ settings.global.BrandSettings.name }}
            </span>
        </a>


        <!--RIGHT NAVBAR-->
        <div class="flex-row items-center hidden md:flex">
            <div class="items-center spac0 md:space-x-5 md:flex whitespace-nowrap">
                <a href="{% url 'home:schedule-page' %}" class=" hover:text-primary">Jadwal Kelas</a>
                <a href="{% url 'home:calendar-page' %}" class=" hover:text-primary">Kalender Akademik</a>
                <a href="#" class= hover:text-primary">Perpustakaan</a>
            </div>
            <!--DROPDOWN INFO-->
            <div class="dropdown dropdown-end">
                <button tabindex="0" role="button" class="btn btn-ghost font-bold hover:text-primary">
                    Info
                    <svg class="w-6 h-6 text-base-content" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                    </svg>
                </button>
                <ul tabindex="-1" class="dropdown-content menu rounded-box bg-base-100 gap-3 shadow-md">
                    <li> <a href="#" class="">Berita</a> </li>
                    <li> <a href="#" class="">Pengumuman</a> </li>
                </ul>
            </div>

            <!--DROPDOWN PROFILE-->
            <div class="dropdown dropdown-end">
                <button tabindex="0" role="button" class="btn btn-ghost font-bold hover:text-primary">
                    Profil Sekolah
                    <svg class="w-6 h-6 text-base-content" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                    </svg>
                </button>
                <ul tabindex="-1" class="dropdown-content menu rounded-box bg-base-100 gap-3 shadow-md">
                    <li> <a href="#" class="">Visi Misi</a> </li>
                    <li> <a href="#" class="">Struktur Sekolah</a> </li>
                    <li> <a href="#" class="">Sejarah Sekolah</a> </li>
                </ul>
            </div>
        </div>

        <!--MOBILE DROPDOWN BUTTON -->
        <div class="md:hidden">
            <button id="mobile-menu-button" class= hover:text-primary focus:outline-none">
                <svg class="w-6 h-6 text-base-content" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
                </svg>
                </i>
            </button>
        </div>
    </nav>

  <!--MOBILE DROPDOWN LIST-->
  <ul class="menu bg-base-100 rounded-box w-full hidden md:hidden" id="mobile-menu">
    <li><a href="/">Beranda</a></li>
    <li><a href="{% url 'home:calendar-page' %}">Kalender Akademik</a></li>
    <li><a href="{% url 'home:schedule-page' %}">Jadwal Kelas</a></li>
    <li><a href="#">Perpustakaan</a></li>
    <li>
      <h2 class="menu-title">Info</h2>
      <ul>
        <li><a href="#">Berita</a></li>
        <li><a href="#" >Pengumuman</a></li>
      </ul>
    <li>
      <h2 class="menu-title">Profil sekolah</h2>
      <ul>
        <li><a href="#">Visi Misi</a></li>
        <li><a href="#">Struktur Sekolah</a></li>
        <li><a href="#">Sejarah Sekolah</a></li>
      </ul>
    </li>
  </ul>

  <script>
    // javascript code for mobile menu
    document.addEventListener('DOMContentLoaded', () => {
      const mobileButton = document.getElementById('mobile-menu-button');
      const mobileMenu = document.getElementById('mobile-menu');

      mobileButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
        const icon = mobileButton.querySelector('i');
      });
    });
  </script>
</header>
