{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags breadcrumbs_tags %}

{% block content %}
<section class="container mx-auto p-20">
    {% breadcrumbs %}

    <article>
        <h1 class="text-4xl md:text-5xl font-bold text-base-content my-2">{{ page.title }}</h1>
        <p class="text-base-content/70 text-lg mb-4">{{ page.date }}</p>
        <p class="text-xl text-base-content/80 mb-8">{{ page.introduction }}</p>
    </article>

    <div class="prose max-w-6xl lg:prose-lg">
        {% for block in page.body %}
            {% include_block block %}
         {% endfor %}
    </div>
</section>
{% endblock %}
