{% load cotton wagtailimages_tags %}

<c-vars
    :image = "value.image"
    :title = "None"
    :description = "None"
/>


<div class="card bg-white border-base-300 border-2 shadow-xl overflow-hidden">
    {% if image %}
    <figure>
        {% image image fill-400x300 as card_img %}
        <img
        src="{{ card_img.url }}"
        alt="{{ card_img.alt }}"
        class="object-cover w-full "
        />
    </figure>
    {% endif %}
    <div class="card-body bg-base-100 ">
    <h3 class="card-title text-xl font-bold text-base-content justify-center">
        {{ title }}
    </h3>
    <p class="text-base-content/70">
        {{ description }}
    </p>
    </div>
</div>
