<c-vars
    home_url = "/"
    home_title = "Balik ke Beranda"
    support_url = " {{ settings.global.miscellaneous }}"
    support_title = "hubungi support"
/>

<section>
    <main class="grid min-h-full place-items-center bg-base-100 px-6 py-24 sm:py-32 lg:px-8">
      <div class="text-center">
        <h1 class="text-3xl font-semibold text-primary"> {{ code }}</h1>
        <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-base-300 sm:text-7xl">{{ title }}</h1>
        <p class="mt-6 text-lg font-medium text-pretty text-base-conte sm:text-xl/8"> {{ subtitle }}</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="{{ home_url }}" class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"> {{ home_title }}</a>
          <a href="{{ support_url }}" class="text-sm font-semibold text-base-300">{{ support_title }}<span aria-hidden="true">&rarr;</span></a>
        </div>
      </div>
    </main>
</section>
