{% extends "base.html" %}

{% block content %}
    <section class="sm:p-10 min-w-[400px]">
        <c-heading title="Pencarian Jadwal Pelajaran">
            <c-slot name="path">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
            </c-slot>
            <c-slot name="text">
                Temukan jadwal pelajaran berdasarkan kelas atau guru dengan mudah dan cepat
            </c-slot>
        </c-heading>


        {% include "partials/schedule.html" %}

    </section>
{% endblock %}
