{% load wagtailimages_tags %}

<section class="py-16 bg-base-100 odd:bg-base-200 even:bg-base-300">
  <div class="container mx-auto px-6 text-center ">
    <h2 class="text-3xl font-bold text-base-content mb-2">{{ value.title }}</h2>
    {% if value.subtitle %}
      <p class="text-base-content/70 mb-12">
        {{ value.subtitle }}
      </p>
    {% endif %}

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      {% for card in value.cards %}
        <div class="card bg-base-100 border border-base-200 shadow-sm overflow-hidden">
          {% if card.value.image %}
            <figure>
              {% image card.value.image fill-400x300 as card_img %}
              <img
                src="{{ card_img.url }}"
                alt="{{ card_img.alt }}"
                class="object-cover w-full h-48"
              />
            </figure>
          {% endif %}
          <div class="card-body {% if not card.value.image %}pt-8{% endif %} bg-base-100 ">
            <h3 class="card-title text-xl font-bold text-base-content justify-center">
              {{ card.value.title }}
            </h3>
            <p class="text-base-content/70">
              {{ card.value.description }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
