{% load wagtailcore_tags %}

{% if menu_type == "desktop" %}
    <ul class="menu menu-horizontal px-1">
        {% for item in menu_items %}
            {% if item.show_children and item.link_page %}
                <li class="dropdown dropdown-hover">
                    <div tabindex="0" role="button" class="btn btn-ghost m-1">
                        {{ item.link_title }}
                        <svg width="12px" height="12px" class="h-2 w-2 fill-current opacity-60 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path d="M1799 349l-899 899-899-899-128 128 1027 1027 1027-1027z"></path></svg>
                    </div>
                    <ul tabindex="0" class="dropdown-content z-1 menu p-2 shadow bg-base-100 rounded-box w-52">
                        {% for child in item.link_page.get_children.live.in_menu %}
                            <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{{ item.link }}">{{ item.link_title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% elif menu_type == "mobile" %}
    <ul class="menu bg-base-100 rounded-box w-full" id="mobile-menu-content">
        {% for item in menu_items %}
            {% if item.show_children and item.link_page %}
                <li>
                    <details>
                        <summary>{{ item.link_title }}</summary>
                        <ul>
                            {% for child in item.link_page.get_children.live.in_menu %}
                                <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </details>
                </li>
            {% else %}
                <li>
                    <a href="{{ item.link }}">{{ item.link_title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
