<!-- Search Card -->

{% load static %}

<div class="card bg-base-100 shadow-xl border border-base-200 outline outline-base-300">
    <!-- Form ini yang akan mengirim request HTMX saat tombol diklik -->
    <form hx-get="{% url 'school:schedule-search' %}"
          hx-target="#search-result"
          hx-swap="outerHTML"
          class="card-body space-y-4 gap-2"
          role="search">

        <!-- HEADER -->
        <div class="flex items-center gap-2">
            <svg class="w-6 h-6 text-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
            </svg>
            <h3 class="text-lg font-semibold text-base-content">Cari Jadwal Pelajaran</h3>
        </div>

        <!-- INPUT QUERY -->
        <label class="form-control w-full space-y-4">
            <div class="label">
                <span class="label-text font-medium text-base-content">Masukkan Kelas (Cth: 4A) atau Nama Guru</span>
            </div>
            <!-- Nama 'query' akan dikirim sebagai request.GET['query'] ke views.py -->
            <input type="text"
                   name="query"
                   placeholder="Kelas atau Guru..."
                   class="input input-bordered w-full input-sm focus:border-primary"
                   required/>
        </label>

        <!-- BUTTON TRIGGER HTMX REQUEST -->
        <button type="submit" class="btn btn-primary w-full btn-sm mt-3">
            <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
            </svg>
            Cari Jadwal
        </button>

    </form>
</div>
