<!-- Main Content -->
<div class="grow space-y-6" id="search-result">
    <div class="flex items-center gap-2">
        <c-icon.calendar class="w-10 h-10"></c-icon.calendar>
        <h1 class="font-semibold text-xl md:text-4xl">Hasil Pencarian</h1>
    </div>

    <div class="alert alert-info text-center text-primary-content">
        {% if results %}
        <span>Ditemukan {{ results|length }} jadwal untuk pencarian "<b>1a</b>"</spn>
        {% else %}
        <span> tidak ditemukan jadwal dari pencarian "<b>1a</b>"</spn>
        {% endif %}
    </div>

    <!-- Jadwal Table -->
    <div class="card bg-base-100 shadow-xl border-t-4 border-primary outline outline-base-300">
        <div class="card-body p-0">
            <div class="bg-primary text-primary-content  text-center p-6 space-y-1">
                <h4 class="text-base font-semibold">Jadwal Pelajaran Semester Genap 2025/2026</h4>
                <p>Untuk Input: 1a</p>
            </div>

            <div class="overflow-x-auto">
                <table class="table table-zebra text-sm">
                    <thead class="bg-primary text-primary-content">
                        <tr>
                            <th class="text-center">KELAS</th>
                            <th class="text-center">HARI</th>
                            <th>MATA PELAJARAN</th>
                            <th class="text-center">WAKTU</th>
                            <th class="text-center">RUANG</th>
                            <th>GURU</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in results %}
                        <tr>
                            <td class="text-center">{{ obj.class_obj.name }}</td>
                            <td class="text-center">{{ obj.day }}</td>
                            <td>{{ obj.subject.name }}</td>
                            <td class="text-center">{{ obj.schedule_slot.start_time|time:"H:i" }}</td>
                            <td class="text-center">{{ obj.room.name }}</td>
                            <td>{{ obj.teacher.full_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                <div class="p-4 text-sm text-base-content/70">
                Berlaku Mulai: 03 Februari 2025
                </div>
            </div>
        </div>
    </div>
</div>
