<div class="grow justify-center text-center text-base-content/50 bg-base-200 p-6 relative"
     id="search-result"
     hx-target="#search-result"
     hx-indicator="#loading-indicator">

    <!-- Loading Indicator -->
    <div id="search-result"
         class="htmx-indicator absolute inset-0 flex flex-col items-center justify-center bg-base-200/70 backdrop-blur">
        <span class="loading loading-spinner loading-lg text-primary"></span>
        <p class="mt-3 text-primary">Sedang memuat...</p>
    </div>

    <!-- Default Placeholder -->
    <div id="placeholder" class="flex flex-col items-center justify-center py-10">
        <c-icon.calendar class="w-20 h-20 mx-auto"></c-icon.calendar>
        <h1 class="mx-auto text-xl">
            Silahkan Masukkan kelas atau nama guru untuk mencari jadwal
        </h1>
    </div>

</div>
