<div class="container mx-auto p-4 sm:p-6 lg:flex lg:gap-6 text-xs md:text-sm">
  <div class="lg:w-96 space-y-6 mb-6 lg:mb-0">
    <form hx-get="{% url 'schedule_search' %}"
          hx-target="#result-panel"
          hx-swap="outerHTML"
          hx-indicator="#loading-indicator"
          class="card bg-base-100 shadow-xl border border-base-200 outline outline-base-300">

      {% csrf_token %}

      <div class="card-body space-y-4">
        <div class="flex items-center gap-2">
            <svg class="w-[30px] h-[30px] " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
            </svg>
          <h3 class="text-base font-semibold">Cari Jadwal</h3>
        </div>

        <label class="form-control w-full">
          <div class="label mb-4">
            <span class="label-text font-medium text-base-content">Masukkan Kelas atau Nama Guru</span>
          </div>
          <input
            type="text"
            name="q"
            value="{{ query|default:'' }}"
            placeholder="Cth: 4A atau Bpk. Rudi"
            class="input input-bordered w-full input-sm"
            required
          />
        </label>

        <div id="loading-indicator" class="htmx-indicator w-full text-center">
            <span class="loading loading-spinner text-primary loading-sm"></span> Mencari...
        </div>

        <button type="submit" class="btn btn-primary w-full btn-sm">
            <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
            </svg>
          Cari Jadwal
        </button>
      </div>
    </form>

    <div class="card bg-base-200 border border-base-200 outline outline-base-300">
      <div class="card-body space-y-4">
        <div class="flex items-center gap-2">
            <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023"/>
            </svg>
          <h3 class="text-base font-semibold">Panduan Pencarian</h3>
        </div>

        <ol class="space-y-3">
          <li class="flex items-center gap-3">
            <span class="badge badge-primary badge-lg">1</span>
            <p>Masukkan kelas (contoh: 1A, 2B, 3A) atau nama guru</p>
          </li>
          <li class="flex items-center gap-3">
            <span class="badge badge-primary badge-lg">2</span>
            <p>Klik tombol "Cari Jadwal" atau tekan Enter</p>
          </li>
          <li class="flex items-center gap-3">
            <span class="badge badge-primary badge-lg">3</span>
            <p>Hasil pencarian akan ditampilkan dalam bentuk tabel</p>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div id="result-panel" class="grow space-y-6">
    <div class="flex items-center gap-2">
        <svg class="w-10 h-10 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
        </svg>
        <h1 class="font-semibold text-xl md:text-4xl">Hasil Pencarian</h1>
    </div>

    {% if query and schedules is None %}
    <div class="alert alert-warning text-center text-base-content/90">
      <span>Masukkan input yang valid untuk mencari jadwal.</span>
    </div>
    {% elif query and schedules %}
    <div class="alert alert-info text-center text-primary-content">
      <span>Ditemukan {{ schedules|length }} jadwal untuk pencarian "<b>{{ query }}</b>"</span>
    </div>

    <div class="card bg-base-100 shadow-xl border-t-4 border-primary outline outline-base-300">
      <div class="card-body p-0">
        <div class="bg-primary text-primary-content  text-center p-6 space-y-1">
          <h4 class="text-base font-semibold">Jadwal Pelajaran Semester Genap 2025/2026</h4>
          <p>Untuk Input: {{ query|default:'-' }}</p>
        </div>

        <div class="overflow-x-auto">
          <table class="table table-zebra text-sm">
            <thead class="bg-primary text-primary-content">
              <tr>
                <th class="text-center">KELAS</th>
                <th class="text-center">HARI</th>
                <th>MATA PELAJARAN</th>
                <th class="text-center">WAKTU</th>
                <th class="text-center">RUANG</th>
                <th>GURU</th>
              </tr>
            </thead>
            <tbody>
              {% for schedule in schedules %}
              <tr>
                <td class="text-center">{{ schedule.class_obj.name }}</td>
                <td class="text-center">{{ schedule.get_day_display }}</td>
                <td>{{ schedule.subject.name }}</td>
                <td class="text-center">{{ schedule.schedule_slot.start_time|date:"H:i" }} - {{ schedule.schedule_slot.end_time|date:"H:i" }}</td>
                <td class="text-center">{{ schedule.room.name|default:'-' }}</td>
                <td>{{ schedule.teacher.full_name }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="p-4 text-sm text-base-content/70">
          Berlaku Mulai: 03 Februari 2025
        </div>
      </div>
    </div>
    {% elif query %}
    <div class="alert alert-warning text-center text-base-content/90">
      <span>Tidak ditemukan jadwal untuk pencarian "<b>{{ query }}</b>".</span>
    </div>
    {% else %}
    <div class="alert text-center text-base-content/90">
        <span>Silakan masukkan **Kelas** (Cth: 4A) atau **Nama Guru** untuk mencari jadwal.</span>
    </div>
    {% endif %}
  </div>
</div>
