{% extends "base.html" %} {% block content %}

<section>
    <c-section.heading title="Pencarian Jadwal">
        <c-slot name="text">
            Temukan jadwal pelajaran berdasarkan kelas atau
            guru dengan mudah dan cepat
        </c-slot>
    </c-section.heading>
</section>

<section class="sm:p-10">
    <div
        class="container mx-auto p-4 sm:p-6 lg:flex lg:gap-6 text-xs md:text-sm"
    >
        <!-- Sidebar -->
        <div class="lg:w-96 space-y-6 mb-6 lg:mb-0">
            {% include 'partials/schedule-search-card.html'%}
            {% include 'partials/schedule-guide-card.html'%}
        </div>

        {% include 'partials/schedule-empty.html'%}
    </div>
</section>

{% endblock %}
