{% extends "base.html" %} {% block content %}

<section>
    <c-section.heading title="Pencarian Jadwal">
        <c-slot name="text">
            Temukan jadwal pelajaran berdasarkan kelas atau
            guru dengan mudah dan cepat
        </c-slot>
    </c-section.heading>
</section>

<section class="sm:p-10">
    <div class="gap-5 p-5 lg:flex flex-row">

        <div class="space-y-3 lg:max-w-96 mb-5">
            <c-card.search action="{% url 'school:schedule-search' %}" />

            <c-card.guide />
        </div>

        <c-schedule.empty />
    </div>
</section>

{% endblock %}
