{% load wagtailcore_tags wagtailembeds_tags %}

<!-- Lokasi Section -->
<section id="lokasi" class="py-16 overflow-hidden odd:bg-base-100 even:bg-base-200">
    <c-include.heading/>

    <div class="p-5 bg-base-100 rounded-xl max-w-xl mx-auto">
        <div class="  max-w-4xl mx-auto rounded-lg flex items-center justify-center text-gray-500 overflow-hidden">
            {% if value.element %}
            <div class="overflow-hidden outline-base-content">
                <div class="w-full h-full">
                    {{ value.element }}
                </div>
            {% endif %}
        </div>
    </div>

</section>
