{% load cotton %}

<c-vars action="" placeholder="Kelas atau Guru…" button="Cari Jadwal"></c-vars>

<c-card.base>
    <form hx-get="{{ action }}"
        hx-target="#search-result"
        hx-swap="outerHTML"
        hx-indicator="#loading-indicator"
        class="space-y-4"
        role="search">

        <!-- Header -->
        <div class="flex items-center gap-2">
            <c-icon.search class="w-6 h-6 text-primary"></c-icon.search>
            <h3 class="text-lg font-semibold text-base-content">Cari Jadwal Pelajaran</h3>
        </div>

        <!-- Input -->
        <label class="form-control w-full space-y-4">
            <div class="label">
                <span class="label-text font-medium text-base-content">Masukkan Kelas (Cth: 4A) atau Nama Guru</span>
            </div>

            <input type="text"
                name="query"
                placeholder="{{ placeholder }}"
                class="input input-bordered w-full input-sm focus:border-primary"
                required>
        </label>

        <!-- Button -->
        <button type="submit" class="btn btn-primary w-full btn-sm mt-3">
            <c-icon.search class="w-4 h-4 text-white"></c-icon.search>
            {{ button }}
        </button>

    </form>
</c-card.base>
