{% extends 'base.html'%}


{% block content %}

<section class="w-full border-b border-base-300 px-8 md:px-32 py-10 flex flex-col items-center text-base-content">

    <!-- Header Icon -->
    <c-heading title="Pengumuman Sekolah">
        <c-slot name="path">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"/>
        </c-slot>
        <c-slot name="text">
            Informasi terkini seputar kegiatan dan pengumuman penting dari SDN 08 Pagi
        </c-slot>
    </c-heading>

    {% include "partials/announce.html" %}


{% endblock %}
